.card{
    padding: 16px;
    border: 1px dashed rgba(215, 221, 233, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    gap: 16px;
    cursor: pointer;
    width: 100%;
    margin: 24px 0;
    
    &:hover{
     background: #F7F9FD;
    }

    span{
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: -0.02em;
    }

    .input{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
}

// .card:hover{
//     background: rgba(247, 249, 253, 1);
// }